# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
venv-auth/
ENV/
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Pip
pip-log.txt

# JavaScript/Node
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.vscode/
.idea/
*.iml
*.swp

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
